@(paramForm: Form[(Long, Option[String], Option[String], Option[String])])

@import helper._

@main("Bienvenue aux qualifs de code story") {

    <h1>Saisissez les parametres de foobarqix:</h1>

    @form(action = routes.Application.computeReplacements, args = 'id -> "paramform") {

    @inputText(
        field = paramForm("nbIter"),
        args = 'label -> "Nombre d'itétrations", 'placeholder -> 100
    )

    @inputText(
        field = paramForm("rp1"),
        args = 'label -> "Si divisible par 3 ou contient 3 alors remplacer par", 'placeholder -> "Foo"
    )
    @inputText(
        field = paramForm("rp2"),
        args = 'label -> "Si divisible par 5 ou contient 5 alors remplacer par", 'placeholder -> "Bar"
    )
    @inputText(
        field = paramForm("rp3"),
        args = 'label -> "Si divisible par 7 ou contient 7 alors remplacer par", 'placeholder -> "Qix"
    )

    <p class="buttons">
        <input type="submit">
    <p>
    }
}